.title {
	color: #4E6CA3;
	font-weight: bold;
}

.anchor_btn {
	background-color: #DDDDDD;
	border: 1px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	color: #333333 !important;
	cursor: pointer;
	margin: 0 3px;
	padding: 2px 5px;
}